#Navlogo {
    width: 4.5rem;
  }
  
#exampleLink {
    font-style: oblique;
    font-weight: bold;
    margin-left: 20px;
  }
  
.Navbar {
  background-color: rgb(170, 146, 114);

}

#logout {
  margin-left: 10px;
  border-radius: 15px ;
}

#texts {
  font-style: oblique;
    font-weight: bold;
    margin-left: 20px;
}

#welcome {
  font-family: 'Lucida Handwriting';
  font-weight: bold;
  margin-right: 50px;
}