[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
pyttsx3 = "*"
nltk = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.2"
